* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #f4f4f4;
    color: #333;
    transition: 0.3s;
}
section,
.hero,
nav {
    max-width: 500px;
    margin: auto;
}
nav {
    background: #111;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    background: #222;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
}
.hero {
    height: 70vh;
    background: linear-gradient(to bottom, #222, #00adb5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
section {
    background: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}
.skills {
    display: flex;
    flex-direction: column;
}

.skill {
    background: #00adb5;
    color: white;
    padding: 10px;
    margin: 6px 0;
    border-radius: 20px;
    text-align: center;
}
.card {
    background: #f0f0f0;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
}
footer {
    max-width: 500px;
    margin: auto;
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
.dark {
    background: #121212;
    color: white;
}

.dark section {
    background: #1e1e1e;
}

.dark .card {
    background: #2a2a2a;
}
.dark .profile-card {
    background: #1e1e1e;
}

.dark .bio {
    background: #2a2a2a;
    color: white;
}

.dark .bio div {
    border-bottom: 1px solid #3a3a3a;
}
.toggle-dark {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #00adb5;
    color: white;
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}
.profile-card {
    background: white;
    padding: 80px 20px 20px; /* tambahkan jarak atas */
    border-radius: 12px;
    text-align: center;
    position: relative;
    margin-top: 60px; /* beri jarak dari judul */
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.profile-img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.profile-img img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

.role {
    color: #00adb5;
    font-size: 14px;
    margin-bottom: 15px;
}
.bio {
    background: #f0f0f0;
    border-radius: 8px;
    padding: 12px;
    margin: 15px 0;
}

.bio div {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 4px 0;
}

.desc {
    font-size: 14px;
    margin-top: 10px;
}